{{ define "headJS"}}
    <script type="text/javascript">
      var sock = new SockJS("/sockjs/echo", null, {
        "protocols_whitelist": ["xhr-streaming"]
      });

      sock.onopen = function() {
          console.log("open");
          msg = "{'message':'Hello, World!'}";
          window.setInterval(function() {
              $("#echo").append("you: " + msg + "<br />");
              sock.send(msg);
          }, 2000);
      };
      sock.onmessage = function(e) {
          $("#echo").append("server: " + e.data + "<br />");
      };
      sock.onclose = function() {
          console.log("close");
      };
    </script>
{{ end }}

{{ define "title" }}
    Echo
{{ end }}

{{ define "content" }}
    <a href="/">Back</a>

    <div id="echo"></div>
{{ end }}
